<span id="portfolio"></span>
<div class="film-library">

  <div class="film-row">
    <div class="film" id="rioforce">
      <img width="200" height="200" src="images/portfolio/race-legend/race-frame.jpg">
      <h3 class="title">Rioforce</h3>
    </div>

    <div class="film" id="hungry-harry">
      <img width="320" height="137" src="images/portfolio/harry-frame.jpg">
      <h3 class="title">Hungry Harry</h3>
    </div>
  </div>

  <div class="film-row">
    <div class="film" id="mech">
      <img width="320" height="137" src="images/portfolio/mech/mech-frame.jpg">
      <h3 class="title">MECH</h3>
    </div>

    <div class="film" id="undenial">
      <img width="320" height="137" src="images/portfolio/undenial/undenial-frame.jpg">
      <h3 class="title">(un)denial</h3>
    </div>

    <div class="film" id="bimdoc">
      <img width="320" height="137" src="images/portfolio/bimdoc/bimdoc-frame.jpg">
      <h3 class="title">Bricks in Motion Additional VFX</h3>
    </div>
  </div>

  </div>
</div>
